* {
    box-sizing: border-box;
}
body{
    position: fixed;
    width: 900px;
    margin-left: 25%;
    margin-top: 1em ;
    border: 1px grey solid;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;  
}
h1{
    text-align: center;
    color: green;
    letter-spacing: 5px;
}
#colorTitulo{
    color: indianred;
}
.contenido{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 0.5px rgb(161, 161, 161) solid;
    padding: 1em;
    background: linear-gradient(to top, rgb(162, 162, 162) 0%, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 95%, rgb(160, 160, 160) 100%);
}
.subTitulo{
    color: green;
    border-bottom: 1px greenyellow solid;
}
h4{
    color: coral;
}
.navegador{
    width: 15%;
    margin-left: 1em;
    
}
.contenedor{
    display: flex;
}
.encabezado{
    width: 100%;
    margin-left: 18px;
}
button{
    width: 90px;
    margin-bottom: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px rgb(173, 172, 172) solid;
   
}
button:hover{
    background-image: linear-gradient(180deg, rgb(224, 13, 63), rgb(56, 152, 231)) ;
}
button a{
    text-decoration: none;
    color: black !important;
    text-transform: uppercase;
}
#inicio{
    background-image: linear-gradient(180deg, rgb(213, 128, 148), white);
}
.botones{
    background-image: linear-gradient(180deg, rgb(104, 152, 104), white);
}
footer, footer a{
    text-align: center;
    font-style: italic;
    color: darkgray;
    margin-bottom: 5px;
}
p{
    text-align: justify;
}

